/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
} 

* {
    margin: 0;
    padding: 0;
    /* font: inherit; */
}

/* responsive images */
 /* height: auto; */
img {
    display: block; 
    max-width: 100%;    
    object-fit: cover;  /*bilden fyller sin yta */
}

figure {
  margin: 0;
}

/* don't leave one single word hanging in paragraphs */
p {
    text-wrap: pretty;
}

/* make the rows more balanced so the headings looks nicer */
h1,
h2 {
    text-wrap: balance;
}

/* variables */
:root {
  /* colors */
  --color-background: rgba(161, 0, 0, 0.3);
  --color-white: rgba(252, 252, 252, 1);
  --color-primary: rgba(161, 0, 0, 1);
  --color-intro-bg: rgba(235, 235, 235, 1);
  --color-text: rgba(0, 0, 0, 1);

  /* font */
  --font-family-base: 'Arial', sans-serif;
  /* --font-family-base: 'Roboto', sans-serif; */

  /* font-sizes */
  --font-size-body: 1rem;
  --font-size-h1: 1.75rem;
  --font-size-h2: 1.5rem;

  /* font weights */
  --font-weight-regular: 400; 
  --font-weight-bold: 700;

  /* spacing */
  --spacing-xsmall: 0.625rem;   /*10px*/
  --spacing-small: 1rem;        /*16px*/  
  --spacing-medium: 1.5rem;     /*24px; */  
  --spacing-medium-large: 2rem; /*32px; */
  --spacing-large: 3rem;        /*48px; */
  --spacing-xlarge: 4rem;       /*64px; */

  /* line height */
  --line-height-small: 1;
  --line-height-large: 2rem; /*32px; */

  /* image heights */
  --hero-height-mobile: 300px;
  --hero-height-tablet: 350px;
  --hero-height-desktop: 500px;
  --image-height: 467px;

}

body {
  font-family: var(--font-family-base);
  /* font-family: 'Open Sans', sans-serif; */
  background-color: var(--color-background);
}

.page {
  width: 100%;
  padding-bottom: 4rem;
  /* padding-bottom: 64px; */
}

.recipe {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--color-white);
}

.hero {
  width: 100%;
  height: var(--hero-height-mobile);
  /* object-fit: cover; */
  border: 1px solid var(--color-white);
}

.content {
  background-color: var(--color-white);
  padding:
    var(--spacing-large) 
    var(--spacing-small) 
    var(--spacing-xlarge) 
    var(--spacing-small);
  /* padding: 3rem 1rem 4rem 1rem; */
  /* padding: 48px 16px 64px 16px; */
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  /* gap: 24px; */
}

h1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h1);
  /* font-size: 28px; */
  line-height: 1;
  letter-spacing: 0;
  color: var(--color-primary);
}

.intro {
  background-color: var(--color-intro-bg);
  padding: var(--spacing-small);
  /* padding: 16px; */
  display: flex;
  /* flex-direction: row; */
  gap: var(--spacing-xsmall);
  /* gap: 10px; */
}

.intro p {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  /* font-size: 16px; */
  line-height: 1;
  letter-spacing: 0;
  color: var(--color-text);
}

h2 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h2);
  /* font-size: 24px; */
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  /* gap: 16px; */
}

.portion {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  /* font-size: 16px; */
  line-height: 1;
  letter-spacing: 0;
}

ul {
  padding-left: var(--spacing-medium-large); /*prickar avstånd*/
  /* padding-left: 32px; 2 rem*/
  /* list-style: none;
    padding-left: 0; */
}

li {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  /* font-size: 16px; */
  line-height: 2rem;
  /* line-height: 32px; */
  letter-spacing: 0;
  color: var(--color-text);
}

ol[role='list'] {
  list-style: none;
}

ol {
  padding-left: var(--spacing-medium); /* siffror - avstånd */
  /* padding-left: 24px; */
/* plats för siffror */
}

ol li {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  /* font-size: 16px; */
  line-height: var(--line-height-large);
  /* line-height: 32px; */
  letter-spacing: 0;
  color: var(--color-text);
}

.image-grid {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  /* gap: 24px; */
}

.image-grid img {
  width: 100%;
  min-width: 300px;
  height: var(--image-height);
  /* object-fit: cover; */
  display: block;
}



/* Framsida index.html*/
.logo {
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  color: #8f1d1d;
  letter-spacing: 0.04em;

  /* font-family: 'Pacifico', cursive;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  background: linear-gradient(90deg, #8f1d1d, #c0392b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; */

  /* font-family: 'Pacifico', cursive;
  display: flex;
  align-items: center;
  gap: .5rem;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    #8f1d1d,
    #f08c8c
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.site-header {
  background-color: var(--color-white);
  padding-block: 1rem;
  padding-inline: 1rem;
}

.navbar {
  max-inline-size: 1280px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-inline: 2rem; */
  /* max-inline-size: 1280px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  gap: 1rem; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: white;
}

.logo,
.login-button,
.nav-links a,
.card-button {
  text-decoration: none;
}

.logo {
  /* flex: 1; */
  /* color: var(--color-primary); */
  font-family: 'Pacifico', cursive;
  color: #8f1d1d;
  font-weight: 700;
  text-decoration: none;
  /* flex: 1;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
  font-size: 1.25rem; */
}

/* hide checkbox */
#menu-toggle {
  display: none;
}

/* menu */

.nav-links {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  display: none;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  list-style: none;
  margin: 0;
}


/* hamburger */
.hamburger {
  font-size: 2rem;
  cursor: pointer;
  color: #8f1d1d;
}

.nav-links {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  /* padding-inline-start: 0; */
  /* margin-block: 0; */

  /* flex: 1;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-inline-start: 0;
  margin-block: 0; */
}

.nav-links a {
  color: var(--color-text);
  font-weight: var(--font-weight-bold);
  font-weight: 700;
  text-decoration: none;
}
/* show menu when checked */
#menu-toggle:checked ~ .nav-links {
  display: flex;
}


.login-button {
  /* flex: 1; */
  display: flex;
  justify-content: flex-end;
  color: var(--color-primary);
  font-weight: 700;
  text-decoration: none;
  /* flex: 1;
  display: flex;
  justify-content: flex-end;
  color: var(--color-primary);
  font-weight: var(--font-weight-bold); */
}

.home-hero {
  min-block-size: 30rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("images/home-hero.webp");
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  text-align: center;
}

.home-hero__content {
  max-inline-size: 45rem;
  color: white;
}

.home-hero h1 {
  font-size: clamp(2rem, 6vw, 4rem);
  color: white;
}

.home-hero p {
  font-size: 1.125rem;
  line-height: 1.6;
}

.popular-section {
  max-inline-size: 1280px;
  margin-inline: auto;
  padding-block: 4rem;
  padding-inline: 1rem;
}

.popular-section > h2 {
  margin-block-end: 2rem;
  color: var(--color-primary);
}

.card-grid {
  display: grid;
  gap: 1.5rem;
}

.recipe-card {
  background-color: var(--color-white);
  border-radius: 0.8rem;
  overflow: hidden;           /*bilden klipps efter de rundade hörnen*/
}

.recipe-card img {
  inline-size: 100%;
  block-size: 14rem;
  object-fit: cover;
  display: block;
}

.recipe-card__content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipe-card__content h2,
.recipe-card__content p {
  margin-block: 0;
}

.card-button {
  align-self: flex-start;
  /* background-color: var(--color-primary); */
  background-color: rgb(211, 21, 21);
  color: white;
  padding-block: 0.75rem;
  padding-inline: 1rem;
  font-weight: var(--font-weight-bold);
  border-radius: .8rem
}

.recipe-card__content h2 {
  /* color: #8f1d1d; */
  color: #de6868;
  font-size: 1.48rem;
  line-height: 1.2;
  margin-block: 0;
}

@media (min-width: 768px) {
  .hero {
    height: var(--hero-height-tablet);
  }

  .recipe {
    width: 80%;
  }

  /* framsida */
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .hamburger {
    display: none;
  }

  .nav-links {
    position: static;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    background: none;
  }
}


@media (min-width: 1024px) {
  /* framsida */
  .site-header {
    padding-inline: 3rem;
  }

  .popular-section {
    padding-inline: 3rem;
  }

  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }


  .recipe {
    max-width: 1280px;
    margin: 0 auto;
  }

  .hero {
    width: 100%;
    height: var(--hero-height-desktop);
    /* object-fit: cover; */
    border: 1px solid var(--color-white);
  }

  .content {
    padding:     
    var(--spacing-large)
    var(--spacing-large)  
    var(--spacing-xlarge) 
    var(--spacing-large) ;
    /* padding: 3rem 3rem 4rem 3rem; */
    /* padding: 48px 48px 64px 48px; */
  }

  .intro {
    flex-direction: column;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-medium);
    /* gap: 24px; */
  }

  .image-grid img {
    width: 100%;
    height: var(--image-height);
  }
}