/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
} 

* {
    margin: 0;
    padding: 0;
    /* font: inherit; */
}

/* responsive images */
 /* height: auto; */
img {
    display: block; 
    max-width: 100%;    
    object-fit: cover;  /*bilden fyller sin yta */
}

figure {
  margin: 0;
}

/* don't leave one single word hanging in paragraphs */
p {
    text-wrap: pretty;
}

/* make the rows more balanced so the headings looks nicer */
h1,
h2 {
    text-wrap: balance;
}

/* variables */
:root {
  /* colors */
  --color-background: rgba(161, 0, 0, 0.3);
  --color-white: rgba(252, 252, 252, 1);
  --color-primary: rgba(161, 0, 0, 1);
  --color-intro-bg: rgba(235, 235, 235, 1);
  --color-text: rgba(0, 0, 0, 1);

  /* font */
  --font-family-base: 'Roboto', sans-serif;

  /* font-sizes */
  --font-size-body: 1rem;
  --font-size-h1: 1.75rem;
  --font-size-h2: 1.5rem;

  /* font weights */
  --font-weight-regular: 400; 
  --font-weight-bold: 700;

  /* spacing */
  --spacing-xsmall: 0.625rem;   /*10px*/
  --spacing-small: 1rem;        /*16px*/  
  --spacing-medium: 1.5rem;     /*24px; */  
  --spacing-medium-large: 2rem; /*32px; */
  --spacing-large: 3rem;        /*48px; */
  --spacing-xlarge: 4rem;       /*64px; */

  /* line height */
  --line-height-small: 1;
  --line-height-large: 2rem; /*32px; */

  /* image heights */
  --hero-height-mobile: 300px;
  --hero-height-tablet: 350px;
  --hero-height-desktop: 500px;
  --image-height: 467px;

}

body {
  font-family: var(--font-family-base);
  /* font-family: 'Open Sans', sans-serif; */
  background-color: var(--color-background);
}

.page {
  width: 100%;
  padding-bottom: 4rem;
  /* padding-bottom: 64px; */
}

.recipe {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--color-white);
}

.hero {
  width: 100%;
  height: var(--hero-height-mobile);
  /* object-fit: cover; */
  border: 1px solid var(--color-white);
}

.content {
  background-color: var(--color-white);
  padding:
    var(--spacing-large) 
    var(--spacing-small) 
    var(--spacing-xlarge) 
    var(--spacing-small);
  /* padding: 3rem 1rem 4rem 1rem; */
  /* padding: 48px 16px 64px 16px; */
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  /* gap: 24px; */
}

h1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h1);
  /* font-size: 28px; */
  line-height: 1;
  letter-spacing: 0;
  color: var(--color-primary);
}

.intro {
  background-color: var(--color-intro-bg);
  padding: var(--spacing-small);
  /* padding: 16px; */
  display: flex;
  /* flex-direction: row; */
  gap: var(--spacing-xsmall);
  /* gap: 10px; */
}

.intro p {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  /* font-size: 16px; */
  line-height: 1;
  letter-spacing: 0;
  color: var(--color-text);
}

h2 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h2);
  /* font-size: 24px; */
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  /* gap: 16px; */
}

.portion {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  /* font-size: 16px; */
  line-height: 1;
  letter-spacing: 0;
}

ul {
  padding-left: var(--spacing-medium-large); /*prickar avstånd*/
  /* padding-left: 32px; 2 rem*/
  /* list-style: none;
    padding-left: 0; */
}

li {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  /* font-size: 16px; */
  line-height: 2rem;
  /* line-height: 32px; */
  letter-spacing: 0;
  color: var(--color-text);
}

ol[role='list'] {
  list-style: none;
}

ol {
  padding-left: var(--spacing-medium); /* siffror - avstånd */
  /* padding-left: 24px; */
/* plats för siffror */
}

ol li {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  /* font-size: 16px; */
  line-height: var(--line-height-large);
  /* line-height: 32px; */
  letter-spacing: 0;
  color: var(--color-text);
}

.image-grid {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  /* gap: 24px; */
}

.image-grid img {
  width: 100%;
  min-width: 300px;
  height: var(--image-height);
  /* object-fit: cover; */
  display: block;
}


@media (min-width: 768px) {
  .hero {
    height: var(--hero-height-tablet);
  }

  .recipe {
    width: 80%;
  }
}


@media (min-width: 1024px) {
  .recipe {
    max-width: 1280px;
    margin: 0 auto;
  }

  .hero {
    width: 100%;
    height: var(--hero-height-desktop);
    /* object-fit: cover; */
    border: 1px solid var(--color-white);
  }

  .content {
    padding:     
    var(--spacing-large)
    var(--spacing-large)  
    var(--spacing-xlarge) 
    var(--spacing-large) ;
    /* padding: 3rem 3rem 4rem 3rem; */
    /* padding: 48px 48px 64px 48px; */
  }

  .intro {
    flex-direction: column;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-medium);
    /* gap: 24px; */
  }

  .image-grid img {
    width: 100%;
    height: var(--image-height);
  }
}